//
$max-width-container: 1200px;

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$orange: #f6993f;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Custom complement colors
$primary: #5C9EAD;
$secondary: #326273;
$tree: #dbbadd;
$four: #EEEEEE;
$light: #d90368;
$five: #211a1e;
$yellow: #e0ca3c;
$pink: #d90368;
$red: #a5243d;
$warning: #e0ca3c;
