// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'welcome';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Main Layout

body {
    background-color: $four;
}

.hidden {
    display: none;
}

.main-container {
    max-width: 1200px;
    width: 100%;

    & .body-content {
        width: 100%;
        min-height: 90vh;
    }

    & .footer-content {
/*        background-color: #4c110f;
        height: 380px;*/
    }

}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
